<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account details</title>
</head>
<body>
    <h1>account details</h1>
    <h3>the username are :
        <ul>
            <% for(let name of accdetails) { %>
                   <li><%= name %> </li> 
                <% } %>
        </ul>
        
    </h3>

</body>
</html>